@media (min-width:1024px) {
  .desktop_imgText {
    display: block;
  }
  .mobile_imgText {
    display: none;
  }
  .tablet_imgText {
    display: none;
  }
}
@media (min-width:768px) and (max-width:1023px) {
  .desktop_imgText {
    display: none;
  }
  .mobile_imgText {
    display: none;
  }
  .tablet_imgText {
    display: block;
  }
}
@media (max-width:767px) {
  .mobile_imgText {
    display: block;
  }
  .desktop_imgText {
    display: none;
  }
  .tablet_imgText {
    display: none;
  }
}