@font-face {
   font-family: The Hand Regular;
   src: url("/assets/CB_resources/fonts/thehand/thehandregular.otf") format("opentype");
}

@font-face {
   font-family: The Hand Light;
   src: url("/assets/CB_resources/fonts/thehand/thehandlight.otf") format("opentype");
}

@font-face {
   font-family: The Hand Bold;
   src: url("/assets/CB_resources/fonts/thehand/thehandbold.otf") format("opentype");
   font-weight: bold;
}

@font-face {
   font-family: The Hand Extra Black;
   src: url("/assets/CB_resources/fonts/thehand/thehandextrablack-webfont.woff") format("opentype");
   font-weight: bold;
}

@font-face {
   font-family: The Hand Black;
   src: url("/assets/CB_resources/fonts/thehand/thehandblack.otf") format("opentype");
}