* {
  font-family: FiraSans,Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-size: 16px
}
h2 {
  color: #008555;
  border-bottom: 2px solid transparent;
  font-size: 32px;
  margin: 20px
}
@media screen and (max-width:592px) {
  h2 {
    font-size: 26px
  }
}
.dcom-c-tabbed-panel-contents {
  display: flex
}
@media screen and (max-width:768px) {
  .dcom-c-tabbed-panel-contents {
    display: flex;
    flex-direction: column
  }
}
.dcom-c-tabbed-nav-wrapper {
  border-bottom: 1px solid #ccc
}
[role=tablist] {
  display: inline-flex;
  text-decoration: none;
  color: #231f20;
  margin: 0;
  padding: 0
}
[role=tablist] a,
[role=tablist] li {
  display: inline-block
}
[role=tablist] a {
  text-decoration: none;
  padding: 8px 16px;
  color: #231f20
}
[role=tablist] [aria-selected] {
  padding: 8px 16px;
  border: none;
  background: 0 0;
  position: relative;
  border-bottom: 2px solid #008555;
  font-weight: 600
}
[role=tabpanel] hidden {
  display: none
}
[role=tabpanel].active {
  display: flex;
  justify-content: space-between;
  margin: auto
}
@media screen and (max-width:768px) {
  [role=tabpanel].active {
    display: block
  }
}
[role=tab] {
  border-bottom: 2px solid transparent
}
[role=tab]:active,
[role=tab]:hover {
  border-bottom: 2px solid #008555
}
.dcom-c-tabs-card {
  min-height: 256px;
  position: relative;
  flex: 1;
  margin: 10px
}
.dcom-c-tabs-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%
}
.dcom-c-tabs-caption a {
  font-size: 16px;
  line-height: normal;
  text-decoration: none;
  font-weight: 400;
  color: #fff;
  display: flex;
  align-items: center;
  background: #008555;
  position: absolute;
  bottom: 0;
  height: 64px;
  width: 100%;
  padding: 12px;
  left: 0;
  border-bottom: 4px solid #dac500;
  justify-content: space-between
}
.dcom-c-tabs-caption svg {
  fill: #fff;
  height: 32px;
  max-width: 32px;
  min-width: 32px
}
@media screen and (max-width:592px) {
  .dcom-c-tabbed-nav {
    display: none
  }
  *,
  ::after,
  ::before {
    box-sizing: border-box
  }
  .dropdown {
    position: relative;
    cursor: pointer
  }
  .dropdown .dropdown-toggle {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    color: #000;
    border: 0;
    padding: 12px 35px 12px 12px;
    border-radius: 3px;
    text-align: left;
    position: relative;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    outline: 0
  }
  .dropdown .dropdown-toggle::after {
    content: "";
    border-width: 6px;
    border-radius: 3px;
    border-style: solid;
    border-color: transparent;
    border-top-color: inherit;
    position: absolute;
    right: 12px;
    top: calc(50% + 3px);
    transform: translateY(-50%)
  }
  .dropdown .dropdown-toggle.active::after {
    border-color: transparent;
    border-bottom-color: inherit;
    top: calc(50% - 3px)
  }
  .dropdown .dropdown-menu {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translateX(-50%);
    background: #fff;
    list-style: none;
    padding: 5px 0;
    margin: 0;
    width: 100%;
    border-radius: 3px;
    z-index: 10;
    visibility: hidden;
    overflow: auto;
    max-height: 200px
  }
  .dropdown .dropdown-menu[aria-expanded=true] {
    visibility: visible
  }
  .dropdown .dropdown-menu > li {
    height: 35px;
    display: block;
    align-items: center;
    padding: 10px 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
  }
  .dropdown .dropdown-menu > li:focus,
  .dropdown .dropdown-menu > li:hover {
    outline: 0;
    background: #f2f2f2
  }
}
@media screen and (min-width:592px) {
  .dropdown {
    display: none
  }
}